.header{
height: 200px;
background-color:#2196F3 ;
}

.tab-bar{
  height: 50px;
  background-color: #1565C0;
}

.title{
  color: white;
  font-size: 250%;
  margin: 0px;
  padding-top: 60px;
  padding-left: 16px;
  font-family: 'Lato', sans-serif;
}

.nusach-button{
  padding-left: 20px;
  font-size: 150%;
  color: white;
}

.login-area{
  float: right;
  padding: 16px;
  margin-top: -90px;
  line-height: 80%;
  cursor: pointer;
}

.user-email{
  color: white;
  font-size: 75%;
  text-align: right;
  font-family: 'lato';
}
.login-button{
  color: white;
  background: #1565C0;
}

.login-area:hover{
  background-color:#0288D1;
}

.date-title{
  color: white;
  padding-right: 16px;
  text-align: right;
  font-family: 'Frank Ruhl Libre';
  letter-spacing:  2px;
}

.nav-tab{
  color:white;
  padding-top: 10px;
}
