<md-card>
  <md-list class="tefila-list-header" *ngFor="let nav of topLevels">
    <h3 md-subheader>{{nav.title}}</h3>
    <div *ngFor="let tefila of nav.includedTefilot">
      <md-list-item>
        <h3 md-line (click)="selectTefila(tefila)">{{tefila.title}}</h3>
      </md-list-item>
      <div *ngIf="editMode" style="direction: rtl">
<button *ngIf="addBelow!=tefila" md-button (click)="showAddTefila(tefila)">Add</button>
<div *ngIf="addBelow == tefila">
  <input [(ngModel)]="newTefilaTitle" />
  <button md-button (click)="addTefila(nav, tefila)">Save</button>
</div>
</div>
</div>
<md-divider></md-divider>
</md-list>
</md-card>