<md-card>
    <md-card-content>
        <div *ngFor="let section of sections">
            <h3 class="section-title"> {{section.title}} </h3>
            <div class="content-text" *ngFor="let path of section?.firebaseRefs">
                <p (click)="textClicked(path)" [innerHtml]="path | async | parseText | safeHtml"></p>
                <edit-text *ngIf="inEdit==path" [ref]="path"></edit-text>
            </div>
            <md-divider></md-divider>
        </div>
    </md-card-content>
</md-card>