<!--fullscreen version-->
<div *showItSizes="{min:750}" class="content" [fxLayout]="direction">
  <!-- spacer -->
  <div fxFlex="3"></div>

  <!-- Top level navigation -->
  <div class="tefila-list-header" fxFlex="20">
    <md-card>
      <md-list>
        <h3 md-subheader>תפילות</h3>
        <md-list-item *ngFor="let tefila of tefilot">
          <h3 md-line (click)="tefilaSelected(tefila)">{{tefila.name}}</h3>
        </md-list-item>
        <md-divider></md-divider>
        <h3 md-subheader>ברכות</h3>
        <md-list-item *ngFor="let brocha of brochos">
          <h3 md-line (click)="tefilaSelected(brocha)">{{brocha.name}}</h3>
        </md-list-item>
      </md-list>
    </md-card>
  </div>

  <!-- spacer -->
  <div fxFlex="2"></div>

  <!-- Main Content -->
  <div fxFlex="60" class="center-card">
    <app-text [tefila]="selectedTefila"></app-text>
  </div>

  <!-- spacer -->
  <div fxFlex="3"></div>

  <!-- Secondary Navigation -->
  <md-card class="tefila-list-header" fxFlex="15">
    <md-card-content>
      <md-list>
        <md-list-item *ngFor="let section of sections">
          <h3 md-line> {{section.name}} </h3>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>

  <!-- Spacer -->
  <div fxFlex="1"></div>
</div>

<!--mobile layout-->
<md-sidenav-container  *showItSizes="{max:749}" class="content">
  <md-sidenav class="sidenav-mobile" #start (open)="closeStartButton.focus()">
    <md-list>
      <h3 md-subheader>תפילות</h3>
      <md-list-item *ngFor="let tefila of tefilot">
        <h3 md-line (click)="tefilaSelected(tefila)">{{tefila.name}}</h3>
      </md-list-item>
      <md-divider></md-divider>
      <h3 md-subheader>ברכות</h3>
      <md-list-item *ngFor="let brocha of brochos">
        <h3 md-line (click)="tefilaSelected(brocha)">{{brocha.name}}</h3>
      </md-list-item>
    </md-list>
    <button md-button #closeStartButton (click)="start.close()">Close</button>
  </md-sidenav>
  <md-sidenav #end align="end">
    End Sidenav.
    <button md-button (click)="end.close()">Close</button>
  </md-sidenav>
  <div class="subheader-mobile">
    <button md-icon-button (click)="start.open()"> <md-icon color="accent">menu</md-icon></button>
  </div>
<div  class="content-frame-mobile">
  <app-text [tefila]="selectedTefila"></app-text>
</div>
</md-sidenav-container>