<!--fullscreen version-->
<div *showItSizes="{min:750}" class="content" [fxLayout]="direction">
  <!-- spacer -->
  <div fxFlex="3"></div>

  <!-- Top level navigation -->
  <div  fxFlex="20">
    <siddur-navigation [nusach]="nusachKey" (tefilaSelected)="selectTefila($event)"></siddur-navigation>
  </div>

  <!-- spacer -->
  <div fxFlex="2"></div>

  <!-- Main Content -->
  <div fxFlex="60" class="center-card">
    <app-text [tefila]="selectedTefila"></app-text>
  </div>

  <!-- spacer -->
  <div fxFlex="3"></div>

  <!-- Secondary Navigation -->
  <md-card class="tefila-list-header" fxFlex="15">
    <md-card-content>
      <md-list>
        <md-list-item *ngFor="let section of sections">
          <h3 md-line> {{section.name}} </h3>
        </md-list-item>
      </md-list>
    </md-card-content>
  </md-card>

  <!-- Spacer -->
  <div fxFlex="1"></div>
</div>

<!--mobile layout-->
<md-sidenav-container  *showItSizes="{max:749}" class="content">
  <md-sidenav class="sidenav-mobile" #start >
       <siddur-navigation [nusach]="nusachKey" (tefilaSelected)="selectTefila($event)"></siddur-navigation>
  </md-sidenav>

  <div class="subheader-mobile">
    <button md-icon-button (click)="start.open()"> <md-icon>menu</md-icon></button>
  </div>
<div  class="content-frame-mobile">
  <app-text [tefila]="selectedTefila"></app-text>
</div>
</md-sidenav-container>